<header class="nav">
  <div class="brand">
    <div class="brand-mark">FU</div>
    <a href="/">
      <span>File Uploader</span>
    </a>
  </div>
  <nav class="nav-links">
    <a href="/register">Register</a>
    <a href="/login">Login</a>
  </nav>
</header>
