<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= folder.name %></title>
  </head>
  <body>
    <h1>Rename your folder</h1>

    <form action="/folders/<%= folder.id %>?_method=PUT" method="POST">
      <label for="name">New Folder Name</label>
      <input type="text" name="name" id="name" value="<%= folder.name %>" />

      <button type="submit">Rename</button>
    </form>
  </body>
</html>
